<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button routerLink="home">
      <mat-icon>home</mat-icon>
    </button> -->
    <button mat-button routerLink="/auth/login" >Login</button>
    <button mat-button routerLink="/auth/signup" >Sign up</button>
    <button mat-button routerLink="/auth/login" >Logout</button>



    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>